<ion-header>
  <ion-toolbar color="warning">
    <ion-title text-center>Chelseas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class="icon" src="assets/icon/chat-01.png" alt="">

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" ></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="OnSubmitLogin()" expand="block" color="warning">
    Ingresar
  </ion-button>
  <br>  
  <p routerLink="/registro">Crear Cuenta</p>

</ion-content>

<ion-footer>
  <ion-toolbar>
   <ion-buttons slot="start">
       <ion-back-button defaultHref="/inicio" color="warning"></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-footer>
