ion-content{
    background:gray;
    background-image: url(../../../assets/icon/fondo.jpg);
}

ion-textarea{
    background-color: whitesmoke;
    color: black;
}

ion-card{
    background: ivory;
    color: black;
    border-color: yellow;
}
